*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Speedometer-Container{
    width: 400px;
    height: 400px;
    border: 7px solid black;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
}

.Center-point{
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 187px;
    left: 185px;
    z-index: 10;
}

.speedometer-scale{
    width: 7px;
    height: 380px;
    background-color: black;
    position: absolute;
    left: 190px;
    top: 4px;
    
}

.speedometer-scale-1{
    transform: rotate(-90deg);
}

.speedometer-scale-2{
    transform: rotate(-80deg);
}

.speedometer-scale-3{
    transform: rotate(-70deg);
}

.speedometer-scale-4{
    transform: rotate(-60deg);
}

.speedometer-scale-5{
    transform: rotate(-50deg);
}

.speedometer-scale-6{
    transform: rotate(-40deg);
}

.speedometer-scale-7{
    transform: rotate(-30deg);
}

.speedometer-scale-8{
    transform: rotate(-20deg);
}

.speedometer-scale-9{
    transform: rotate(-10deg);
}

.speedometer-scale-10{
    transform: rotate(0deg);
}

.speedometer-scale-11{
    transform: rotate(10deg);
}

.speedometer-scale-12{
    transform: rotate(20deg);
}

.speedometer-scale-13{
    transform: rotate(30deg);
}

.speedometer-scale-14{
    transform: rotate(40deg);
}

.speedometer-scale-15{
    transform: rotate(50deg);
}

.speedometer-scale-16{
    transform: rotate(60deg);
}

.speedometer-scale-17{
    transform: rotate(70deg);
}

.speedometer-scale-18{
    transform: rotate(80deg);
}

.speedometer-scale-19{
    transform: rotate(90deg);
    height: 300px;
    width: 7px;
    top: 44px;
    left: 231px;
}

.speedometer-scale-1.active{
    background-color: green;
}

.speedometer-scale-2.active{
    background-color: rgb(10, 170, 10);
}

.speedometer-scale-3.active{
    background-color: rgb(35, 198, 35);
}

.speedometer-scale-4.active{
    background-color: rgb(57, 231, 57);
}

.speedometer-scale-5.active{
    background-color: rgb(89, 255, 89);
}

.speedometer-scale-6.active{
    background-color: rgb(145, 255, 0);
}

.speedometer-scale-7.active{
    background-color: rgb(231, 245, 28);
}

.speedometer-scale-8.active{
    background-color: rgb(232, 255, 23);
}

.speedometer-scale-9.active{
    background-color: rgb(232, 235, 52);
}

.speedometer-scale-10.active{
    background-color: rgb(247, 120, 1);
}

.speedometer-scale-11.active{
    background-color: rgb(250, 114, 51);
}

.speedometer-scale-12.active{
    background-color: rgb(236, 78, 43);
}

.speedometer-scale-13.active{
    background-color: rgb(201, 60, 60);
}

.speedometer-scale-14.active{
    background-color: rgb(231, 74, 74);
}

.speedometer-scale-15.active{
    background-color: rgb(193, 45, 45);
}

.speedometer-scale-16.active{
    background-color: rgb(209, 62, 62);
}

.speedometer-scale-17.active{
    background-color: rgb(232, 29, 22);
}

.speedometer-scale-18.active{
    background-color: rgb(255, 35, 28);
}

.speedometer-scale-19.active{
    background-color: rgb(255, 0, 0);
}

.hide-scale{
    width: 350px;
    height: 350px;
    background-color: powderblue;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 9;

}

.speedometer-bottom-hide{
    width: 450px;
    height: 200px;
    position: absolute;
    background-color: powderblue;
    z-index: 11;
    top: 200px;
    left: -29px;
    border-top: 1px solid;
}

.arrow-container{
    width: 160px;
    height: 160px;
    background-color: transparent;
    position: absolute;
    z-index: 12;
    top: 113px;
    left: 113px;
}

.arrow-wrapper{
    width: 160px;
    height: 160px;
    background-color: transparent;
    position: relative;
    transition: all 0.4s;
}

.arrow{
    width: 156px;
    height: 4px;
    background-color: red;
    position: absolute;
    top: 78px;
    left: -78px;
    z-index: 21;

}

.speed-0{
    transform: rotate(0deg);
}

.speed-10{
    transform: rotate(10deg);
}
.speed-20{
    transform: rotate(20deg);
}
.speed-30{
    transform: rotate(30deg);
}
.speed-40{
    transform: rotate(40deg);
}
.speed-50{
    transform: rotate(50deg);
}
.speed-60{
    transform: rotate(60deg);
}
.speed-70{
    transform: rotate(70deg);
}
.speed-80{
    transform: rotate(80deg);
}
.speed-90{
    transform: rotate(90deg);
}
.speed-100{
    transform: rotate(100deg);
}
.speed-110{
    transform: rotate(110deg);
}
.speed-120{
    transform: rotate(120deg);
}
.speed-130{
    transform: rotate(130deg);
}
.speed-140{
    transform: rotate(140deg);
}
.speed-150{
    transform: rotate(150deg);
}
.speed-160{
    transform: rotate(160deg);
}
.speed-170{
    transform: rotate(170deg);
}
.speed-180{
    transform: rotate(180deg);
}

.accelerate-container{
    margin-top: 120px;
    text-align: center;

}

.accelerate-container button{
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    color: brown;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px #c6c6c6;
}

.accelerate-container button:active{
    box-shadow: 5px 5px 5px #ffffff;

}

.increase{
    background-color: greenyellow;

}

.decrease{
    background-color: lightcoral;
}

.speedometer-text{
    width: 100px;
    position: absolute;
    z-index: 20;
    left: 143px;
    top: 100px;
    text-align: center;
    font-weight: bold;
}

.static{
    font-size: 18px;

}

.dynamic{
    margin-top: 10px;

}
.km{
    font-size: 32px;
}

.unit{
    font-size: 14px;
    margin-left: 5px;

}